<div class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>Editing <%= @tech.name %></h1>
  </div>
</div>
<div class="container">
<p id="notice"><%= notice %></p>

<%= render 'form' %>

<%= link_to 'Destroy', @tech, :method => :delete, :data => { :confirm => 'Are you sure?' } %>

