<div class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>¡Si se puede!</h1>
  </div>
</div>
<div class="container">
  <div class="page-header">
  <h1><%= link_to "Go", root_path, :class => "btn btn-primary" %></h1>
  </div>