<div class="container">
<h1>Editing Site</h1>

<%= render 'form' %>

<%= link_to 'Destroy', @site, :method => :delete, :data => { :confirm => 'Are you sure?' } %> | 
<%= link_to 'Show', @site %> |
<%= link_to 'Back', sites_path %>
