<footer class="footer">
  <small>
    by Andrew Schwegler
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://syncsouth.com/blog">News</a></li>
    </ul>
  </nav>
</footer>
  <p class="clear">
    <%= link_to image_tag("rails.png", :alt => "Rails"), 'http://rubyonrails.org/' %>
    <%= link_to image_tag("sgrita.png", :alt => "SGRITA"), 'http://syncsouth.com/' %>
  </p>